$main: #5c4632;
$second: #003854;

$body: #fffaf4;
$main-dark: #381300;
$black: #000;
$white: #fff;
$gray: #f1f1f1;

$associate: "Associate Sans";
$martellas: "Martellas Caps";
$mainFont: "Asul", sans-serif;
