.faq-container{
    padding: 1rem;
    height: 60vh;
    position: relative;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}

.faq-container .heart{
    width: 100%;
    position: relative;
}

.faq-container .line{
    width: 70%;
    height: 2px;
    margin: auto;
   background-color: #E8E5EE;
}

.heart img{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    top: -15px;
    z-index: 10;
}

.faq-container .faq-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.faqs{
    width: 100%;
    margin-top: 3rem;
    z-index: 100;
}

.faqs .inner img{
    width: 3.5rem;
    height: 3.5rem;
}

.faqs .accordion-button{
    background: rgba(74, 74, 74, 0.21);
    color: #fff;
    backdrop-filter: blur(37.7213px);
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    border-top: 1px solid #fff;
    border-right: 0.5px solid gray;
    border-left: 0.5px solid gray;
    border-radius: 31.12px !important;
}

.faqs .accordion-item{
    width: 100% !important;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: transparent;
    margin-bottom: 1rem;
    border: none;
}

 .accordion-header{
    width: 60%;
    border-radius: 31.12px !important;
}

.question span{
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
}

.faqs .accordion-collapse{
    background: rgba(74, 74, 74, 0.21);
    backdrop-filter: blur(37.7213px);
    color: #fff;
    width: 57%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

@media screen and (max-width:768px) {
    .faq-container{
        height: 50vh;
        margin-top: 4.5rem;
        z-index: 9999;
    }

    .accordion-header{
        width: 95%;
        border-radius: 31.12px !important;
        z-index: 99999;
    }

    .faqs .accordion-collapse{
        width: 95%;
        margin-left: 1rem;
        z-index: 9999;
    }

    .faqs .accordion-button{
        font-size: .9rem
    }
    .faqs{
        width: 100%;
        margin-top: 4rem;
    }

    .faqs .inner img{
        width: 2.8rem;
        height: 2.8rem;
    }
    .question span{
        font-size: .7rem;
    }
    .faqs .inner{
        gap: .2rem;
    }
    .faq-container .faq-bottom{
        position: absolute;
        bottom: -10%;
        right: -10%;
        z-index: 0;
    }
}